# vim: set filetype=yaml:

:production:
- :data:
    :host: web
    :hostname: web.example.com
    :port_open: 443
    :port_range: "80,443,8080,8443"
  :attacks:
  - nmap_only_port
  - nmap_os_apache
  - sslyze_TLSv1.2_only
- :data:
    :host: db
    :hostname: db.example.com
    :port_open: 3306
    :port_range: "25,80,443,3306,8080,8443"
  :attacks:
  - nmap_only_port
